/* accordion */
.MuiPaper-root.MuiAccordion-root {
  background-color: inherit;
  color: inherit;
  box-shadow: none;
  &:before {
    display: none;
  }
}

/* DatePicker button */
.MuiPickersTextField-root .MuiPickersInputBase-root {
  padding: 0;
  .MuiPickersInputBase-sectionsContainer {
    display: none;
  }
  .MuiInputAdornment-root {
    margin-left: 0;
    max-height: none;
    .MuiIconButton-root {
      margin-right: 0;
      background-color: var(--color-blue-400);
      border-radius: 0;
      .MuiSvgIcon-root {
        width: calc(var(--spacing) * 8);
        height: calc(var(--spacing) * 8);
        fill: var(--color-zinc-200);
      }
    }
  }
  &>.MuiPickersOutlinedInput-notchedOutline {
    display: none;
  }
}

/* DatePicker calendar popup */
.MuiPaper-root.MuiDialog-paper {
  background-color: var(--color-zinc-700);
  color: var(--color-zinc-200);
  .MuiPickersToolbar-content .MuiTypography-root,
  .MuiPickersDay-root,
  .MuiSvgIcon-root {
    color: var(--color-zinc-200);
  }
  .Mui-disabled.Mui-disabled {
    color: var(--color-zinc-500);
    .MuiSvgIcon-root {
      color: inherit;
    }
  }
  .MuiTypography-root {
    color: var(--color-zinc-400);
  }
  .MuiPickersLayout-actionBar .MuiButtonBase-root {
    border-color: transparent;
  }
 }

/* toggle button group */
.MuiToggleButtonGroup-root .MuiButtonBase-root {
  text-transform: none;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--color-zinc-700);
  color: var(--color-zinc-400);
  &:hover {
    opacity: 0.85;
    background-color: var(--color-zinc-700);
  }
  &.Mui-selected {
    background-color: var(--color-blue-400);
    color: var(--color-zinc-200);
    &:hover {
    background-color: var(--color-blue-400);
    color: var(--color-zinc-200);
  }
  }
}

/* checkbox */
.MuiCheckbox-root .MuiSvgIcon-root {
  color: var(--color-blue-400);
}

/* native select */
.MuiNativeSelect-root.MuiNativeSelect-root {
  &:before {
    border-bottom-color: transparent;
  }
  &:hover:not(.Mui-disabled, .Mui-error):before {
    border-bottom-color: var(--color-blue-400);
  }
  .MuiNativeSelect-select,
  .MuiNativeSelect-icon {
    color: var(--color-zinc-200);
  }
}

/* text field */
.MuiTextField-root {
  .MuiInputLabel-root {
    color: var(--color-zinc-400);
    &.Mui-focused {
      color: var(--color-blue-400);
    }
    &:not(.Mui-focused) {
      transform: translate(14px, 14px) scale(1);
    }
  }
  .MuiInputBase-input {
    color: var(--color-zinc-200);
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }
  .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline,
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--color-blue-400);
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--color-blue-400);
  }
}
