.MuiPaper-root.MuiPaper-root {
  background-color: inherit;
  color: inherit;
}

.MuiPickersTextField-root .MuiPickersInputBase-root {
  padding: 0;
}
.MuiPickersTextField-root .MuiPickersInputBase-root .MuiPickersInputBase-sectionsContainer {
  display: none;
}

.MuiPickersTextField-root .MuiPickersInputBase-root .MuiInputAdornment-root {
  margin-left: 0;
  max-height: none;
}
.MuiPickersTextField-root .MuiPickersInputBase-root .MuiInputAdornment-root .MuiIconButton-root {
  margin-right: 0;
}