/* accordion */
.MuiPaper-root.MuiAccordion-root {
  background-color: var(--color-zinc-800);
  color: var(--color-zinc-200);
  box-shadow: none;
  &:before {
    display: none;
  }
  &.Mui-expanded {
    margin: 0;
  }
  .MuiAccordionSummary-expandIconWrapper {
    color: inherit;
  }
  .MuiAccordionSummary-root {
    min-height: 0;
    .MuiAccordionSummary-content {
      margin: 12px 0;
    }
  }
  .MuiAccordionDetails-root {
    background-color: var(--color-zinc-900);
  }
  /* children accordion */
  .MuiPaper-root.MuiAccordion-root {
    background-color: inherit;
    .MuiAccordionSummary-root {
      padding-left: 0;
      padding-right: 0;
      .MuiAccordionSummary-content {
        margin: 5px 0;
      }
    }
    .MuiAccordionDetails-root {
      padding: 0 0 8px 0;
    }
  }
}

/* toggle button group */
.MuiToggleButtonGroup-root .MuiButtonBase-root {
  text-transform: none;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--color-zinc-700);
  color: var(--color-zinc-400);
  &:hover {
    opacity: 0.85;
    background-color: var(--color-zinc-700);
  }
  &.Mui-selected {
    background-color: var(--color-blue-400);
    color: var(--color-zinc-200);
    &:hover {
      background-color: var(--color-blue-400);
      color: var(--color-zinc-200);
    }
  }
  &.Mui-disabled {
    background-color: var(--color-zinc-400);
  }
}

/* checkbox */
.MuiCheckbox-root.MuiCheckbox-root .MuiSvgIcon-root {
  color: var(--color-blue-400);
}

/* native select */
.MuiNativeSelect-root.MuiNativeSelect-root {
  &:before {
    border-bottom-color: transparent;
  }
  &:hover:not(.Mui-disabled, .Mui-error):before {
    border-bottom-color: var(--color-blue-400);
  }
  .MuiNativeSelect-select,
  .MuiNativeSelect-icon {
    color: var(--color-zinc-200);
  }
}

/* text field */
.MuiTextField-root {
  .MuiInputLabel-root {
    color: var(--color-zinc-400);
    &.Mui-focused {
      color: var(--color-blue-400);
    }
    &:not(.Mui-focused) {
      transform: translate(14px, 14px) scale(1);
    }
  }
  .MuiInputBase-input {
    color: var(--color-zinc-200);
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }
  .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline,
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--color-blue-400);
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--color-blue-400);
  }
}

/* divider */
.MuiDivider-root.MuiDivider-root {
  &:before,
  &:after {
    border-top-color: rgba(255, 255, 255, 0.40);
  }
  .MuiDivider-wrapper {
    color: rgba(255, 255, 255, 0.40);
  }
}