
.datePicker {
  /* DatePicker button */
  .MuiPickersTextField-root {
    .MuiPickersInputBase-root {
      padding: 0;
      border-radius: 0;
      .MuiPickersInputBase-sectionsContainer {
        border: 1px solid var(--color-blue-400);
        color: var(--color-zinc-200);
        width: 8rem;
        padding: 11.5px 0.75rem;
        border-left-width: 0;
        opacity: 1;
      }
      .MuiInputAdornment-root {
        margin-left: 0;
        max-height: none;
        .MuiIconButton-root {
          margin-right: 0;
          background-color: var(--color-blue-400);
          border-radius: 0;
          &.Mui-disabled {
            background-color: var(--color-zinc-400);
          }
          .MuiSvgIcon-root {
            width: calc(var(--spacing) * 8);
            height: calc(var(--spacing) * 8);
            fill: var(--color-zinc-200);
          }
        }
      }
      &>.MuiPickersOutlinedInput-notchedOutline {
        display: none;
      }
    }
    &.hideSelection {
      .MuiPickersInputBase-root {
        .MuiPickersInputBase-sectionsContainer {
          display: none;
        }
      }
    }
  }

  /* arrow buttons */
  &.MuiButtonGroup-root .MuiButtonBase-root {
    border-color: var(--color-blue-400);
    color: var(--color-blue-400);
    &.Mui-disabled {
      border-color: var(--color-zinc-400);
      color: var(--color-zinc-400);
    }
  }
}

/* DatePicker calendar popup */
.MuiPaper-root.MuiDialog-paper {
  background-color: var(--color-zinc-700);
  color: var(--color-zinc-200);
  .MuiPickersToolbar-content .MuiTypography-root,
  .MuiPickersDay-root,
  .MuiSvgIcon-root {
    color: var(--color-zinc-200);
  }
  .Mui-disabled.Mui-disabled {
    color: var(--color-zinc-500);
    .MuiSvgIcon-root {
      color: inherit;
    }
  }
  .MuiTypography-root {
    color: var(--color-zinc-400);
  }
  .MuiPickersLayout-actionBar .MuiButtonBase-root {
    border-color: transparent;
  }
}