.container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  div {
    p {
      margin-top: 15px;
      font-size: 14px;
    }
    &.header {
      grid-column: 1 / span 2;
      margin-left: 25%;
      margin-right: 25%;
      text-align: center;
      h2 {
        font-size: 30px;
        font-weight: 400;
        margin: 0;
      }  
    }
    h3 {
      font-size: 20px;
      font-weight: 500;
      margin: 0;
    }
  }
}